* {
    margin: 2px;
    padding: 0;
}
body {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

#title {
    text-align: center;
    text-decoration: underline;
}

nav {
    text-align: center;
    color: black;
}
ul > li {
    text-align: center;
    display: inline;
    color: black;
}
div#top {
    background-color: rgba(255, 6, 6, 0.763);
}
#locations { 
    margin: 10px;
    text-align: right;
    border: 3px solid black;
}

